*{
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

 body{
  background-color: rgb(209, 135, 37);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
 }

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 60%;
}

.image-container{
  width: 300px;
  height: 200px;
  padding: 20px 20px 0 20px;
  background-color: rgb(253, 252, 251);
  overflow: hidden;
  border-radius: 20px 20px 0 0;
}

.image-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 -55px;
  border-radius: 20px 20px 0 0;
}

.info-container{
  display: flex;
  width: 300px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: rgb(249, 233, 7);
  padding: 20px 20px 20px 20px;
  border-radius: 0px 0px 20px 20px;
}

.info-container > div:first-child{
  font-size: 30px;
}

.info-button-container{
  display: flex;
  align-items: center;
  gap:5px;
}

.info-button-container button{
  padding: 10px;
  font-size: 18px;
  width: 50%;
  text-transform: capitalize;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background-color: rgb(255, 247, 231);
}

.info-button-container > button:first-child{
  box-shadow: 2px 2px 3px 1px rgb(2, 96, 18);
}

.info-button-container > button:first-child:active{
  box-shadow: inset 2px 2px 3px 1px rgb(1, 104, 18);
}


.info-button-container > button:nth-child(2){
  box-shadow: 2px 2px 3px 1px rgb(138, 2, 2);
}

.info-button-container > button:nth-child(2):active{
  box-shadow: inset 2px 2px 3px 1px rgb(138, 2, 2);
}