*{
  padding: 0;
  margin: 0;
}

body{
  width: 100vw;
  height: 100vh;
  background-color: #465945;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  gap: 15px;
}

.container input{
  width: 100%;
  height: 80px;
  font-size: 40px;
  border: none;
  border-radius: 50px;
  box-shadow:inset 2px 2px 2px 2px black;
  padding-left: 20px ;
}

.number-and-operator-grid-btns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  grid-template-areas:
    "btn-reset btn-reset btn-reset btn-reset"
    "btn-1 btn-2 btn-3 btn-plus"
    "btn-4 btn-5 btn-6 btn-minus"
    "btn-7 btn-8 btn-9 btn-multiply"
    "btn-0 btn-divide btn-power btn-equal";

  gap: 12px;
  width: 100%;
}

.number-and-operator-grid-btns button{
  height: 60px;
  border-radius: 30px;
  border: none;
  box-shadow: 2px 2px 2px 2px black;
  background-color: #71b66d;
  font-size: 20px;
  color: rgb(7, 69, 10);
  font-weight: 800;
  cursor: pointer;
}

.number-and-operator-grid-btns button:active{
  box-shadow: 1px 1px 0 0 black;
}
